*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  padding: 20px;
}

.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  background-color: #9a64ec;
}

.navbar img {
  height: 60%;
  cursor: pointer;
}

nav {
  margin-left: 30px;
  display: flex;
  gap: 30px;
}

nav a {
  padding: 5px 10px;
  border-radius: 30px;
  text-decoration: none;
  color: #fff;
  font-size: 1.1 rem;
  font-weight: bold;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home > img {
  width: 40vw;
  margin: 0 auto;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.socials img {
  width: 40px;
  cursor: pointer;
}

.item-list {
  margin-top: 30px;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: small;
}

.item img {
  width: 150px;
}

h4 {
  text-align: center;
}

p {
  text-align: center;
}

img.stars {
  width: 20px;
  height: 20px;
}